body {
  background-color: #e63946;
}
nav {
  border: 1px solid black;
  padding: 1%;
  background-color: white;
  width: fit-content;
  margin-left: 40%;
  margin-top: 5%;
  font-family: Helvetica, arial;

}
nav a:link {
  text-decoration: none;
}

nav a:visited {
  text-decoration: none;
}
